
/* VIP */
section.vip .topo h3,
section.vip .topo h5 {
  color: #fff;
}
section.vip .sessao-2 h2,
section.vip .sessao-2 p {
  color: #fff;
}
section.vip .sessao-2 .btn-verde {
  margin: 2rem 0;
}
section.vip .box-relogio p {
  color: var(--laranja-100);
  font-weight: 700;
  font-size: 2.1rem;
}
section.vip .box-relogio .relogio {
  background: var(--gradient-laranja-2);
  border-radius: 3rem;
  padding: 1rem 3rem;
}
section.vip .box-relogio .relogio {
  margin: 2rem auto;
  width: 35rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
section.vip .box-relogio .relogio .numero {
  font-size: 5rem;
}
section.vip .box-relogio .relogio .ponto {
  font-size: 5rem;
}
section.vip .box-relogio .relogio .horas,
section.vip .box-relogio .relogio .minutos,
section.vip .box-relogio .relogio .segundos {
  font-size: 1.5rem;
}
section.vip .box-relogio .relogio .horas {
  grid-column: 1/2;
}
section.vip .box-relogio .relogio .minutos {
  grid-column: 3/4;
}
section.vip .box-relogio .relogio .segundos {
  grid-column: 5/6;
}
section.vip .box-relogio .relogio p.item {
  color: var(--branco);
}
section.vip .box-reais {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}
section.vip .box-reais img {
  max-width: 100%;
}
section.vip .precos {
  margin: 2rem 0;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  grid-template-columns: auto 5rem auto;
}
section.vip .precos p {
  font-weight: 700;
  color: var(--branco);
}
section.vip .precos .preco-antigo {
  display: flex;
  position: relative;
}
section.vip .risco {
  background-color: var(--roxo-500);
  height: 0.3rem;
  width: 120%;
  top: 2.3rem;
  left: -2rem;
  border-radius: 5rem;
  position: absolute;
  transform: rotateZ(-10deg);
}
section.vip .precos .preco-antigo .de-cifrao p {
  font-size: 2rem;
}
section.vip .precos .preco-antigo .reais {
  line-height: 0.8;
  font-size: 6rem;
}
section.vip .precos .preco-antigo .centavos {
  font-size: 3rem;
  line-height: 1;
}
section.vip .precos .preco-novo {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  align-items: flex-end;
}
section.vip .precos .preco-novo p.por {
  align-items: flex-start;
  font-size: 3.5rem;
  text-align: left;
  line-height: 1;
}
section.vip .precos .preco-novo .parcelas-cifrao {
  display: flex;
  align-items: center;
}
section.vip .precos .preco-novo .parcelas {
  line-height: 1;
  font-size: 3rem;
}
section.vip .precos .preco-novo .cifrao {
  font-size: 3.5rem;
  line-height: 1;
}
section.vip .precos .preco-novo .reais {
  font-size: 10rem;
  line-height: 0.8;
}
section.vip .precos .preco-novo .centavos {
  align-self: flex-start;
  font-size: 3rem;
}
section.vip .precos .preco-novo .avista {
  grid-column: 1/4;
  font-weight: 400;
  justify-self: center;
}
@media screen and (max-width: 767px) {
  section.vip .sessao-1 h2 {
    font-size: 2.5rem;
  }
  section.vip .sessao-4 h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 575px) {
  section.vip .sessao-3 .box-reais .real.mobile {
    display: none;
  }
  section.vip .sessao-3 .box-reais {
    padding: 2rem 5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  section.vip .precos .seta {
    width: 5rem;
    transform: rotate(88deg);
  }
  section.vip .precos {
    justify-items: center;
    grid-template-columns: auto;
  }
  section.vip .box-relogio .relogio {
    width: 30rem;
  }
  section.vip .box-relogio .relogio .numero {
    font-size: 4rem;
  }
  section.vip .box-relogio .relogio .ponto {
    font-size: 4rem;
  }
  section.vip .sessao-1 h2 {
    font-size: 2rem;
  }
  section.vip .glider-depoimentos {
    margin: 2rem 0 0 0;
  }
}
